.product-section {
  text-align: center;
}
.product__list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 87px;
}

.product__button {
  background-color: var(--bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}
.product__button--accent {
  fill: var(--accent-color);
}
.product__button:hover .product__title {
  border-bottom: 3px solid var(--accent-color);
}
.product__title {
  @include font(700, 24px, 30px);
  text-align: center;
  text-transform: uppercase;
  color: inherit;
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product__title--accent {
  border-bottom: 3px solid var(--accent-color);
}

/* bedroom__list */

// .bedroom__list img {
//     width: 100%;
// }
.bedroom__list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-bottom: 50px;
}

.bedroom__item {
  width: calc((100% - 6 * 15px) / 3);
  margin: 15px;
  position: relative;
  &:hover, &:focus {
    cursor: pointer;
  }
}

.bedroom__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bedroom__title,
.bedroom__price {
  @include font(700, 24px, 30px);
}

.bedroom__price {
  text-transform: uppercase;
}

.bedroom__title {
  padding: 15px;
  text-transform: uppercase;
}


.bedroom__span, .sale__span {
  position: absolute;
  left: 0;
  top: 10px;

  background-color: var(--primary-text-color);
  padding: 5px 15px;
  color: var(--bg-color);
  text-transform: uppercase;
  @include font(700, 18px, 22.5px);
  text-align: center;
}

.sale__span {  
  position: absolute;
  left: 0;
  top: 50px;

  background-color: var(--sale-color);

}

.bedroom__price--red {
  color: var(--sale-color);

}
.bedroom__price--old {
  color: var(--old-price-color);
  text-transform: uppercase;
}



.bedroom__item:hover .bedroom__section,
.bedroom__item:focus .bedroom__section {
  background-color: var(--accent-color);
  color: var(--bg-color);
  
}

.bedroom__item:hover .bedroom__price,
.bedroom__item:focus .bedroom__price {
  color: var(--bg-color);
}

.bedroom__item:hover .bedroom__price--old,
.bedroom__item:focus .bedroom__price--old {
  color: var(--bg-color);
}