:root {
  --primary-text-color: #1E2E36;
  --bg-color: #FFFFFF;
  --accent-color: #44C697;
  --sale-color: #FF1B1B;
  // background: #EDF2F7;
  // background: #718096;
  --old-price-color: #BCBDBB;
  // background: #1E2E3680;
  // background: #FFD001;
  
  }


  @mixin font($fw, $fs, $lh) {
    font-weight: $fw;
    font-size: $fs;
    line-height: calc($lh / $fs);
}
